sonarqube:
  image:
    pullPolicy: IfNotPresent
  ingress:
    enabled: true
    hosts:
    - name: sonar.cmays-lab.com
    tls:
    - hosts:
        - sonar.cmays-lab.com
      secretName: sonar-cert
    annotations: {
      external-dns.alpha.kubernetes.io/hostname: sonar.cmays-lab.com
    }
  persistence:
    enabled: true
